{% extends 'base.html' %}

{% block body_block %}

    <div class="mypanel" id="" lala>

    </div>
    <form method="post">
        {% csrf_token %}
        Χρονολογία Κατασκευής:<br>
        <input type="text" name="year"><br>
        <input type="radio" name="gender" value="1">Αυτοκίνητα που πουλήθηκαν στην Αμερική<br>
        <input type="radio" name="gender" value="0">Αυτοκίνητα που πουλήθηκαν εκτός Αμερικής<br>
        <button id="button_1" class="btn btn-primary" value="val_1" name="but1">Αναζήτηση Αυτοκινήτου</button>
    </form>
    <div class="gridSystem stylized-container--white-background section" id="showData"></div>
    <script>
        function getAjaxRequest(element,year,gender) {
            base_url = "https://www.carqueryapi.com/api/0.3/";
            $.getJSON(this.base_url + "?callback=?", {cmd: "getMakes", year: year , sold_in_us:gender}, function (data) {

                var makes = data.Makes;
                var col = [];

                for (var i = 0; i < 1; i++) {
                    for (var key in makes[i]) {
                        if (col.indexOf(key) != 0) {
                            if (key == "make_display" || key == "make_country") {

                                col.push(key);
                                col.set
                            }
                        }
                    }
                }
                var table = document.createElement("table");
                var tr = table.insertRow(-1);                   // TABLE ROW.

                for (var i = 0; i < col.length; i++) {
                    var th = document.createElement("th");
                    // TABLE HEADER.
                    th.innerHTML = col[i];
                    if (i == 0) {
                        th.innerText = "Μοντέλο"
                    }
                    if (i == 1) {
                        th.innerText = "Χώρα Κατασκευής"
                    }
                    tr.appendChild(th);
                }
// ADD JSON DATA TO THE TABLE AS ROWS.
                for (var i = 0; i < makes.length; i++) {

                    tr = table.insertRow(-1);

                    for (var j = 0; j < col.length; j++) {
                        var tabCell = tr.insertCell(-1);
                        tabCell.innerHTML = makes[i][col[j]];
                    }
                }
                var divContainer = document.getElementById("showData");
                divContainer.innerHTML = "";
                divContainer.appendChild(table);

            });
        }

        $(document).ready(function () {
            $("#button_1").click(function (e) {
                e.preventDefault();
                var year = $('input[name="year"]').val();
                var gender = $('input[name="gender"]:checked').val();
                getAjaxRequest($(this),year,gender);
            });
        });

    </script>
    <span id="jsonStr"></span>

{% endblock %}