{% extends "base.html" %}
{% block body_block %}
    <div class="panel panel-default p">
        <div class="panel panel-info">
            <h1 align="center"> Το Ιστορικό μου </h1>
        </div>
        <ul class="list-group" class="align-middle">

            <li class="list-group-item list-group-item-info">
               <div align="center"> Μοντέλο: {{ plate }}</div>
            </li>
            {% for cars in data %}
                <li class="list-group-item" >
                  <div align="center" > <strong>Ημ/νία Έναρξης : {{ cars.starting_date }} - Ημ/νία Λήξης : {{ cars.ending_date }}</strong></div>
                </li>
                <li class="list-group-item">Κόστος : {{ cars.cost }}</li>
                {% if cars.valid == True %}
                    <li class="list-group-item"><strong>Σε Ισχύ : Ναι</strong>
                    {% else %}
                    <li class="list-group-item">Σε Ισχύ : Όχι
                {% endif %}

                </li>

                <li class="list-group-item">Τύπος :
                    {% if cars.type == "6" %} Εξάμηνη
                        {% if  cars.type == "11" %}Εντεκάμηνη
                        {% endif %}
                    {% else %}  Δωδεκάμηνη
                    {% endif %}
                </li>
                <li class="list-group-item">email Ασφαλιστή: {{ cars.agentEmail }}</li>

            {% endfor %}


        </ul>
    </div>
{% endblock %}
