{% extends "base.html" %}
{% block body_block %}
    <div class="panel panel-default">
        <div class="panel panel-info">
            <h1 align="center"> Τα Οχήματα μου </h1>
        </div>
        <ul class="list-group">

            {% for cars in data %}
                <li class="list-group-item list-group-item-info">
                    <a href="{% url 'my_model' %}?model={{ cars.model }}">
                    <span class="fa fa-automobile"> Μοντέλο: {{ cars.model }} {{ value }}
                    </span>
                    </a>
                    <a href="{% url 'new_cost'%}?month=6&plate={{ cars.plate }}">
                    <span class="fa fa-calculator"> Κόστος Εξάμηνης</span>
                    </a>
                    <a href="{% url 'new_cost_year'%}?month=12&plate={{ cars.plate }}">
                    <span class="fa fa-calculator"> Κόστος Δωδεκάμηνης</span>
                    </a>
                    <span class="pull-right">
                           <a href="{% url 'detail_list' %}?name={{ cars.plate }}">
                               <span class="fa fa-automobile"> Ατυχήματα Αυτοκινήτου </span> </a>
                        </button>
                        <a href="{% url 'detail_list_insur' %}?name={{ cars.plate }}">
                               <span class="	fa fa-history"> Ιστορικό </span> </a>
                        </button>

                        <a href="{% url 'vih_user_list' %}?plate={{ cars.plate }}">
                               <span class="fa fa-anchor"> Νέα Ασφάλεια </span> </a>
                        </button>
                    </span>
                </li>
                <li class="list-group-item">Κυβικά: {{ cars.CC }}</li>
                <li class="list-group-item">Πινακίδα: {{ cars.plate }}</li>
                {% if data1.price != Null %}
                <li class="list-group-item">Πινακίδα: {{data1.price }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
