{% extends "base.html" %}
{% block body_block %}
    <div class="panel panel-default">
        <div class="panel panel-info">
            <h1 align="center"> Τα Οχήματα μου </h1>
        </div>
        <ul class="list-group">



                <li class="list-group-item">Κόστος νέας Ασφάλειας : {{data1}}</li>

        </ul>
    </div>
{% endblock %}
