{% extends "base.html" %}
{% block body_block %}
    <div class="panel panel-default">
        <div class="panel panel-info">
            <h1 align="center"> Τα Οχήματα μου </h1>
        </div>
        <ul class="list-group">

            <li class="list-group-item list-group-item-info">
                Μοντέλο: {{ data.plate }}
            </li>
            {% for cars in plate %}
                <li class="list-group-item">Περιγραφή Ατυχήματος : {{ cars.description }}</li>
                <li class="list-group-item">Ημ/νία Ατυχήματος : {{ cars.date }}</li>

            {% endfor %}


        </ul>
    </div>
{% endblock %}
