{% extends 'base.html' %}

{% block body_block %}

    <div class="mypanel" id="" lala>

    </div>
    <form method="post">
        {% csrf_token %}
        <button id="button_1" value="val_1" class="btn btn-primary" name="but1">Αναζήτηση Αυτοκινήτου</button>
    </form>
    <div class="gridSystem stylized-container--white-background section" id="showData"></div>
    <script>
        function getAjaxRequest(element, make) {
            base_url = "https://www.carqueryapi.com/api/0.3/";
            $.getJSON(this.base_url + "?callback=?", {
                cmd: "getTrims",
                make: make,
                year: "2010",
            }, function (data) {

                var makes = data.Trims;
                var col = [];

                for (var i = 0; i < 1; i++) {
                    for (var key in makes[i]) {
                        if (col.indexOf(key) != 0) {
                            if (key == "model_make_id" || key == "model_name" || key == "model_year" || key == "model_engine_cc") {

                                col.push(key);
                                col.set
                            }
                        }
                    }
                }
                var table = document.createElement("table");
                var tr = table.insertRow(-1);                   // TABLE ROW.

                for (var i = 0; i < col.length; i++) {
                    var th = document.createElement("th");
                    // TABLE HEADER.
                    if (i==0) {
                        th.innerHTML = "Μάρκα";
                    }
                    if (i==1) {
                        th.innerHTML = "Μοντέλο";
                    }
                    if (i==2) {
                        th.innerHTML = " Έτος Κατασκευής";
                    }
                    if (i==3) {
                        th.innerHTML = " Κυβικά";
                    }
                    tr.appendChild(th);
                }
// ADD JSON DATA TO THE TABLE AS ROWS.
                for (var i = 0; i < makes.length; i++) {

                    tr = table.insertRow(-1);

                    for (var j = 0; j < col.length; j++) {
                        var tabCell = tr.insertCell(-1);
                        tabCell.innerHTML = makes[i][col[j]];
                    }
                }
                var divContainer = document.getElementById("showData");
                divContainer.innerHTML = "";
                divContainer.appendChild(table);

            });
        }

        $(document).ready(function () {
            $("#button_1").click(function (e) {
                e.preventDefault();
                var model = getParameter('model');
                getAjaxRequest($(this), model);
            });
        });

        function getParameter(theParameter) {
            var params = window.location.search.substr(1).split('&');

            for (var i = 0; i < params.length; i++) {
                var p = params[i].split('=');
                if (p[0] == theParameter) {
                    return decodeURIComponent(p[1]);
                }
            }
            return false;
        }

    </script>
    <span id="jsonStr"></span>

{% endblock %}