{% extends 'base.html' %}

{% block body_block %}
  <ul id="results">
    {% for post in data %}
       <li>
          <a href = "/posts/{{post.id}}">
               ID: {{post.id}} - Title : {{ post.title}}
          </a>
       </li>
    {% endfor %}
  </ul>
      <input type="button" onclick="location.href='/posts/new';" value="Create New Post" />

{% endblock %}