{% extends "base.html" %}
{% block body_block %}
    <div class="">
        <h1>Τα Στοιχεία μου</h1>
        {% for user in data %}
            <li>
                <p> ΑΦΜ Χρήστη: {{ user.AFM }}</p>
                <p> Όνομα Χρήστη:{{ user.person.firstname }}</p>
                <p> Επίθετο Χρήστη:{{ user.person.lastname }}</p>
            </li>

        {% endfor %}
    </div>

{% endblock %}