{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <style>
        table, th, td {
            margin: 10px 0;
            border: solid 1px #333;
            padding: 2px 4px;
            font: 15px Verdana;
        }
        th {
            font-weight: bold;
        }
    </style>
    <meta charset="utf-8">
    <title>Reveal Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static "lib/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "lib/animate/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "lib/ionicons/css/ionicons.min.css" %}" rel="stylesheet">
    <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
    <link href="{% static "lib/magnific-popup/magnific-popup.css" %}" rel="stylesheet">
    <link href="{% static "lib/ionicons/css/ionicons.min.css" %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="body">
<div id="preloader"></div>

<!--==========================
  Top Bar
============================-->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <div class="contact-info float-left">
            <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">GreekNat@example.com</a>
            <i class="fa fa-phone"></i> +03 210 3815 875
        </div>
        <div class="social-links float-right">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            {% if user.is_authenticated %}
                <bold><a href=""><span class="glyphicon glyphicon-user"></span> Login as: {{ user.last_name }}
                    {{ user.first_name }}</a></bold>
            {% else %}
            {% endif %}
        </div>
    </div>
</section>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="#body" class="scrollto">Greek National <span>Insurance Portal</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                {% if user.is_authenticated %}

                    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Κεντρική Σελίδα </a></li>
                    <li class="menu-has-children"><a href="/">Οι Επιλογές μου</a>
                        <ul>
                            <li><a href="{% url 'cars_list' %}">Αναζήτηση Πληροφοριών</a></li>
                            <li><a href="{% url 'vih_user_list' %}">Τα Οχήματα μου</a></li>

                        </ul>
                    </li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>

                {% else %}
                    <li><a href="#team">Team</a></li>
                    <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                {% endif %}
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
        <div class="container">

            {% block body_block %}{% endblock %}
            {% block content %}{% endblock %}

        </div>

        </div>
    </section><!-- #about -->
    <!--==========================
      Our Team Section
    ============================-->
    {% if user.is_authenticated %}
    {% else %}
        <section id="team" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Our Team</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="pic"><img src="img/team-1.jpg" alt=""></div>
                            <div class="details">
                                <h4> Αγγελίδης Παναγιώτης </h4>
                                <span>Chief Executive Officer</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="pic"><img src="img/team-2.jpg" alt=""></div>
                            <div class="details">
                                <h4> Καραγιαννόπουλος Αριστείδης</h4>
                                <span>Chief Executive Officer</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="pic"><img src="img/team-3.jpg" alt=""></div>
                            <div class="details">
                                <h4>Κατσιάνος Δημήτρης</h4>
                                <span>Chief Executive Officer</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}<!-- #team -->
</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Greek National Insurance Portal </strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
            -->
            <a href="https://bootstrapmade.com/">Free Bootstrap Templates</a> by BootstrapMade
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static "lib/jquery/jquery.min.js" %}"></script>
<script src="{% static "lib/jquery/jquery-migrate.min.js" %}"></script>
<script src="{% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "lib/easing/easing.min.js" %}"></script>
<script src="{% static "lib/superfish/hoverIntent.js" %}"></script>
<script src="{% static "lib/superfish/superfish.min.js" %}"></script>
<script src="{% static "lib/wow/wow.min.js" %}"></script>
<script src="{% static "lib/owlcarousel/owl.carousel.min.js" %}"></script>
<script src="{% static "lib/magnific-popup/magnific-popup.min.js" %}"></script>
<script src="{% static "lib/sticky/sticky.js" %}"></script>
<!-- Template Main Javascript File -->
<script src="{% static "js/main.js" %}"></script>

</body>
</html>
