{% extends 'base.html' %}

{% block body_block %}

    <div class="container">
        <div id="_content_moneysupermarket_en_gb_insurance_car-insurance_car-insurance-control_jcr_content_par-item_target"
             class="campaign placeholder-for-campaign" data-msm-deferred-load="" style="display: none;"></div>
        <div>
            <div class="">
                <div>
                    <div class="landing-donk__footer-text" data-ng-show="userinfo('user.userType')==='new'">
                        <div class="container">
                            <div class="row">
                                <div class="row__left-column col-xs-12"><span> <p style="text-align: center;">*51% of consumers could save up to £280.85 Consumer Intelligence, April 2018</p> </span>
                                </div>
                                <div class="row__right-column col-xs-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gridSystem stylized-container--white-background section">
            <div class="container">
                <div class="row">
                    <div class="row__left-column col-xs-12 col-sm-6"><span> <h1 class="msm-maps-descriptions__title">COMPARE CAR INSURANCE</h1> <h2
                            class="msm-maps-descriptions__subtitle">How to get a car insurance quote</h2>  <ul> <li>Registration number</li> <li>Make and model</li> <li>Age and value</li> <li>Any modifications made</li> </ul> <p>It’s easy to get an accurate car insurance quote. All you need to do is answer certain questions about your car and you’ll be reviewing car insurance quotes within minutes. The key information you need to provide includes:</p><p>This information allows us to understand which <a
                            href="https://www.moneysupermarket.com/car-insurance/groups/">insurance group</a> your car belongs to, in order to complete the insurance quote. You can find out which group your car belongs to <a
                            href="https://www.moneysupermarket.com/car-insurance/car-insurance-group-checker-tool/">using this tool</a>.</p> <h3>Information about you</h3> <p>You will also need to include information about your job, age, and where you live, along with details of your driving history (including any convictions and claims).</p> <h3>Named drivers</h3> <p>The names and licence details of anyone who will be driving your car need to be provided.</p> <h3>No Claims Discount (NCD) history</h3> <p>Details of your no claims discount will help lower the price you are quoted. You can find out <a
                            adhocenable="false"
                            href="https://www.moneysupermarket.com/content/moneysupermarket/en_gb/insurance/car-insurance/car-insurance-control/motor-guide-page-index/motor-guide-page-master/no-claims-discount-tool/">here</a> how many years’ no claims discount your insurer will honour.</p>

                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}