{% extends "base.html" %}
{% block content %}
    <div class="panel-group">
        <div class="panel-body">
            <h3 align=" center">Log in </h3>
    {% if form.errors %}
        <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form class="form-horizontal" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% for field in form %}
            <div class="form-group">
                <label class="control-label col-sm-2">  {{ field.label_tag }}</label>
                <div  class="col-sm-3">
                    <input width="50px" class="form-control" {{ field }}
                </div>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% if field.help_text %}
                    <p><small style="color: grey">{{ field.help_text }}</small> </p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class=" btn btn-primary" type="submit">Log in</button>
                <a class="btn btn-info" href="{% url 'signup' %}">New to My Site? Sign up</a>
            </div>
        </div>

    </form>
    </div>
    </div>
    </div>
{% endblock %}

