{% extends 'base.html' %}

{% block content %}
    <div class="panel-group">
        <div class="panel-body">
            <div align="center" class="panel-group">
                <h2>Δημιουργία Λογαριασμού Χρήστη</h2>
            </div>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group row">
                        <label class="control-label col-sm-2">  {{ field.label_tag }}</label>
                        <div class="col-sm-3">
                            <input class="form-control"{{ field }}
                        </div>
                        {% if field.help_text %}
                            <x-small class="col-sm-5" style="color: grey">{{ field.help_text }}</x-small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% for field in profile_form %}
                    <div class="form-group row">
                        <label class="control-label col-sm-2">  {{ field.label_tag }}</label>
                        <div class="col-sm-3">
                            <input class="form-control" {{ field }}
                        </div>
                        {% if field.help_text %}
                            <x-small class="col-sm-5"style="color: grey">{{ field.help_text }}</x-small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class=" btn btn-primary" type="submit">Αποθήκευση</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}